# bidFreshFood

You can find screenshots with the app in the Screenshots directory.

How to run the App?
<code>export FLASK_APP=bidfreshfood.py</code><br />
<code>flask run</code>

Python Packages Required
<code>
from cs50 import SQL
from flask_session import Session
from flask import Flask, render_template, redirect, request, session, abort
from datetime import datetime
import base64
import hashlib
import secrets
from werkzeug.utils import secure_filename
import os
import imghdr
</code>

A virtual environment is also available in the venv directory, which includes Python with all the required packages.

Author: A.G. Iezaru
